.first-section {
    padding-bottom: 0;
    .section__title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .section__introtext {
        margin-bottom: 41px;
    }
    img {
        width: 100%;
        height: 197px;
        object-fit: cover;
    }
}
@media (min-width: 768px) {
    .first-section {
        padding-bottom: 0;
        .section__title {
            font-size: 72px;
            line-height: 64px;
            margin-bottom: 44px;
        }
    }
}
@media (min-width: 1200px) {
    .first-section {
        .section__title {
            margin-bottom: 48px;
        }
        &__col {
            width: calc(100% / 2 - 20px);
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
}

.info {
    background: #f3f6fd;
    padding-top: 48px;
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 36px;
        width: min-content;
    }
    &__tab {
        border: 1.125px solid #244cc8;
        border-radius: 2.25px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        display: block;
        padding: 10px 20px;
        white-space: nowrap;
        &.active {
            background: #244cc8;
            color: #ffffff;
        }
        &-1 {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &-2 {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    &__panel {
        display: none;
        &.active {
            display: block;
        }
        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            margin-bottom: 36px;
        }
        &-introtext {
            margin-bottom: 36px;
        }
        ul {
            margin-bottom: 64px;
            padding-inline-start: 16px;
            li {
                font-size: 18px;
                line-height: 27px;
                position: relative;
                list-style-type: none;
                padding-inline-start: 20px;
                &:not(:last-child) {
                    margin-bottom: 33px;
                }
                &::before {
                    padding-right: 20px;
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: -12px;
                    width: 16px;
                    height: 32px;
                    background-image: url('../img/marker.svg');
                    background-repeat: no-repeat;
                }
            }
        }
        .overlay-img {
            margin-bottom: 64px;
            img {
                width: 100%;
                height: 186px;
                object-fit: cover;
            }
        }
    }
    &__info {
        margin-bottom: 36px;
    }
    &__card-list {
        margin-bottom: 48px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 48px;
    }
    &__text {
        font-size: 16px;
        line-height: 22px;

        a {
            font-weight: 700;
            &[href^='tel:'] {
                color: #181940;
                font-size: 18px;
                margin-top: 18px;
                display: block;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
@media (min-width: 768px) {
    .info {
        &__nav {
            margin-bottom: 64px;
        }
        &__tab {
            font-size: 24px;
            line-height: 28px;
            display: block;
            padding: 18px 36px;
        }
        &__panel {
            &-title {
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 60px;
            }
        }
        &__subtitle {
            font-size: 28px;
            line-height: 38px;
        }
        &__text {
            font-size: 24px;
            line-height: 34px;

            a[href^='tel:'] {
                font-size: 28px;
                line-height: 38px;
            }
        }
    }
}
@media (min-width: 1200px) {
    .info {
        padding-top: 64px;
        padding-bottom: 64px;
        &__panel {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: calc(100% / 2 - 40px);
                }
            }
        }

        &__text {
            font-size: 24px;
            line-height: 34px;

            a[href^='tel:'] {
                display: inline-block;
            }
        }
    }
}

.info-card {
    background: #ffffff;
    border-radius: 4px;
    padding: 46px 30px 36px;
    &:not(:last-child) {
        margin-bottom: 25px;
    }
    &__icon {
        max-width: 60%;
        max-height: 70%;
        width: auto;
        height: auto;
        &-wrap {
            background: #f3f6fd;
            border-radius: 50%;
            margin-bottom: 30px;
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
    }
}
@media (min-width: 768px) {
    .info-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__icon {
            height: auto;
            max-width: 55px;
            &-wrap {
                margin-bottom: 0;
                width: 100px;
                height: 100px;
            }
        }
        &__text {
            font-size: 18px;
            line-height: 27px;
            margin-left: 30px;
        }
    }
}
.working {
    padding-top: 52px;
    padding-bottom: 54px;
}

.working-card {
    &:not(:last-child) {
        margin-bottom: 48px;
    }
    &__icon {
        max-width: 60%;
        max-height: 70%;
        width: auto;
        height: auto;

        &-wrap {
            background: #f3f6fd;
            border-radius: 100%;
            margin-bottom: 36px;
            width: 54px;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 24px;
    }
    &__text {
        font-size: 17px;
        line-height: 22px;
    }
}
@media (min-width: 768px) {
    .working {
        padding-bottom: 88px;
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .working-card {
        width: calc(100% / 2 - 25px);
        &__icon {
            &-wrap {
                width: 64px;
                height: 64px;
            }
        }
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__text {
            font-size: 18px;
            line-height: 27px;
        }
    }
}

@media (min-width: 1200px) {
    .working {
        padding-bottom: 16px;
    }
    .working-card {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
        width: calc(100% / 3 - 25px);
        &__icon {
            &-wrap {
                width: 72px;
                height: 72px;
            }
        }
    }
}
.vacancies {
    padding-top: 64px;
    padding-bottom: 20px;
    .section__title {
        font-size: 48px;
        line-height: 38px;
    }
    .section__introtext {
        margin-bottom: 36px;
        p {
            font-size: 18px;
            line-height: 27px;
        }
    }
    &__list {
        margin-bottom: 36px;
    }
    &__button {
        background-color: #fff;
        border: 1px solid #cfd1df;
        color: #181940;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 48px;
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 199px;

        span {
            position: relative;
            width: 24px;
            height: 24px;
            &::before {
                content: '';
                position: absolute;
                left: -5px;
                top: 0;
                width: 24px;
                height: 24px;
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7.5%2017L17.5%207%22%20stroke%3D%22%23181940%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%0A%3Cpath%20d%3D%22M7.5%207H17.5V17%22%20stroke%3D%22%23181940%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%0A%3C/svg%3E%0A');
                background-repeat: no-repeat;
            }
        }
        &:focus {
            outline: none;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.vacancy-card {
    background-color: #fff;
    border: 1px solid #cfd1df;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 213px;
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &:hover {
        background-color: #f85969;
        border: 1px solid #f85969;
        .vacancy-card__label {
            background: rgba(255, 255, 255, 0.1);
            color: #fff;
        }
        .vacancy-card__title,
        .vacancy-card__income,
        .vacancy-card__sum {
            color: #fff;
        }
    }
    &__body {
        padding: 19px 26px 19px 19px;
    }
    &__label {
        background-color: rgba(248, 89, 105, 0.1);
        border-radius: 3px;
        color: #f85969;
        display: block;
        padding: 2px 6px;
        font-size: 16px;
        margin-bottom: 20px;
        width: min-content;
    }
    &__title {
        color: #181940;
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }
    &__footer {
        border-top: 1px solid #cfd1df;
        font-size: 16px;
        line-height: 20px;
        padding: 12px 20px;
    }
    &__income {
        color: #666a87;
        margin-right: 10px;
    }
    &__sum {
        color: #181940;
    }
}
@media (min-width: 768px) {
    .vacancies__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .vacancy-card {
        width: calc(100% / 2 - 10px);
    }
}

.partners {
    padding-top: 52px;
    .section__title {
        margin-bottom: 33px;
    }
}
.partners__content {
    position: relative;
}
.partners-slider {
    &__item {
        height: 40px;
        margin-bottom: 37px;
    }

    &__image {
        height: 100%;
        max-width: 100%;
        margin: 0 auto;
        width: auto !important;
    }
}

.partners-nav {
    position: relative;
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    @media (max-width: 768px) {
        margin: 19px auto;
    }
    .owl-prev,
    .owl-next {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 100%;
        background: #a8abc1;
        color: #fff;
        cursor: pointer;
        position: relative;
        bottom: 33px;
        outline: none;
        @media (max-width: 768px) {
            bottom: 50px;
        }
    }
    .owl-prev {
        float: left;
    }
    .owl-next {
        float: right;
    }
}

.partners-slider__dots {
    position: relative;
    text-align: center;
    max-width: 160px;
    margin: 25px auto 0;
    -webkit-tap-highlight-color: transparent;

    .owl-dot {
        display: inline-block;
        zoom: 1;
        outline: none;
        span {
            width: 8px;
            height: 8px;
            margin: 5px 4px;
            background: #a8abc1;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 0.2s ease;
            border-radius: 30px;
        }

        &.active span,
        &:hover span {
            background: #181940;
        }
    }
}
