extends common/layout

mixin vacancy-card(data)
  +b.A.vacancy-card(href="#")
    +e.body
      +e.label!=data.label
      +e.title!=data.title
    +e.footer
      +e.income Доход
      +e.sum!=data.sum

mixin working-card(data)
  +b.working-card
    +e.icon-wrap
      +e.IMG.icon(src='./img/' + data.icon alt="")
    +e.title!=data.title
    +e.text!=data.text

mixin info-card(data)
  +b.info-card
    +e.top
      +e.icon-wrap
        +e.IMG.icon(src='./img/' + data.icon alt="")
    +e.text!=data.text

block content
  +b.content
    +b.SECTION.s-main.section
      .wrapper
        +e.col
          h1.section__title Центр карьеры
          .section__introtext
            p С 2004 года в Университете «Синергия» работает Центр карьеры. Мы помогаем студентам найти работу и предлагаем те вакансии, которые предусматривают возможность совмещать работу с получением образования
            p Главный принцип обучения в нашем Университете — постоянная практика. Центр карьеры сотрудничает с более 500 ведущими компаниями и, вот уже более 10 лет, поддерживает молодых специалистов, желающих взять карьерный старт как можно раньше
        +e.col
          .overlay-img
            img.fluid-img(src="./img/s-main-img.jpg", alt="Центр карьеры")

    +b.SECTION.s-working.section
      .wrapper
        h2.section__title Как мы работаем?
        +e.list
          +working-card({
            icon: "working-icon-01.svg",
            title: "Составляем базу вакансий",
            text: "С 2004 года в Университете «Синергия» работает Центр карьеры. Мы помогаем студентам найти работу и предлагаем те вакансии, которые предусматривают возможность совмещать работу с получением образования"
          })
          +working-card({
            icon: "working-icon-02.svg",
            title: "Помогаем подобрать подходящую вакансию",
            text: "Мы обеспечиваем студента наиболее подходящей работой, которая соотносится с изучаемой в ВУЗе специальностью. В результате студенты получают не только заработную плату, но и знания для освоения программ"
          })
          +working-card({
            icon: "working-icon-03.svg",
            title: "Готовим к собеседованию",
            text: "Помогаем подготовить резюме, “упаковать” свои знания и навыки"
          })
          +working-card({
            icon: "working-icon-04.svg",
            title: "Сопровождаем на этапе оформления",
            text: "Мы контролируем весь процесс трудоустройства наших студентов и при необходимости всегда готовы прийти на помощь в решении сложных вопросов"
          })
          +working-card({
            icon: "working-icon-05.svg",
            title: "Помогаем строить карьеру",
            text: "Проводим консультации, выстраиваем карьерные лестницы"
          })
          +working-card({
            icon: "working-icon-06.svg",
            title: "Оцениваем и развиваем компетенции",
            text: "Проводим оценку навыков по ведущим методикам и повышаем требуемые работодателем компетенции"
          })

    +b.s-info.section
      .wrapper
        +e.tabs
          +e.nav
            +e.A.tab.s-info__tab-1.active(href="#tab1") Cтудентам
            +e.A.tab.s-info__tab-2(href="#tab2") Работодателям
          +e.content
            +e#tab1.panel.s-info__panel-1.active
              +e.H2.panel-title Студенты «Синергии» могут совмещать учебу с работой уже с начала обучения
              ul
                li Для студентов очного отделения мы готовы предложить индивидуальные графики обучения, работу в режиме неполного рабочего дня в вечернее время и трудоустройство по окончанию Университет
                li Студентам остальных форм обучения подойдет программа «Работа + Учеба»
              .overlay-img
                img.fluid-img(src="./img/s-info-tab-01.jpg", alt="")
              +e.H2.panel-title Кто может обращаться в Центр карьеры?
              +e.card-list
                +info-card({
                  icon: "info-icon-01.svg",
                  text: "Программа «Работа + Учеба» доступна для жителей всех регионов России, поступающих в «Синергию». Мы консультируем студентов всех курсов, выпускников бакалавриата, магистратуры, находим к ним индивидуальный подход и строим оптимальную схему «Работа + Учеба» независимо от выбранной специальности"
                })
                +info-card({
                  icon: "info-icon-02.svg",
                  text: "Студентам из регионов мы также помогаем подобрать подходящий вариант жилья из числа комфортных московских общежитий. Кроме того, мы регулярно проводим мероприятия, направленные на карьерное развитие наших студентов и выпускников: ярмарки вакансий, встречи с работодателями и многое другое"
                })
              +e.subtitle Обратитесь в Центр карьеры Университета “Синергия”, и начните строить карьеру под руководством чутких наставников, профессионалов своего дела
              +e.text По вопросам согласования вакансий и подбора кандидатов на сайте обращайтесь по телефону
                |
                |
                a(href="tel:+78001000011") 8 800 100‒00‒11 (доб. 2059)
                |
                | или по адресу
                |
                |
                a(href="mailto:career@synergy.ru") career@synergy.ru
            +e#tab2.panel.s-info__panel-2
              +e.H2.panel-title Что мы предлагаем?
              +e.panel-introtext
                p Центр карьеры Университета «Синергия» — это надежный источник квалифицированных специалистов для самых разных отраслей.
                p Прекрасную репутацию выпускников и студентов Университета «Синергия» на рынке труда подтверждают многолетние партнерские отношения с крупнейшими российскими и иностранными компаниями — работодателями, предоставляющими свои эксклюзивные вакансии слушателям и выпускникам вуза

              +e.H2.panel-title Вы получите:
              ul
                li Размещение вакансий на сайте Университета «Синергия», в личных кабинетах студентов и на информационных стенда
                li Организацию специальных мероприятий: ярмарки вакансий, конференции, форумы, мастер-классы, семинары, тренинги и круглые столы
                li Проведение презентаций вашей компании в Университете «Синергия»
                li Организацию и сопровождение программ стажировок и производственной практики студентов
                li Подбор персонала на открытые вакансии
              .overlay-img
                img.fluid-img(src="./img/s-info-tab-02.jpg", alt="")

              +e.info
                p Среди постоянных посетителей нашего сайта: студенты, абитуриенты, родители, аспиранты, молодые специалисты. Если Вы хотите привлечь внимание к вакансии вашей компании среди молодежной аудитории — это один из самых действенных способов.
                p При подборе мы учитываем не только профессиональные навыки кандидатов, но также их коммуникативные и психологические качества, позволяющие им еще более плодотворно работать в команде единомышленников.

              +e.subtitle Мы ценим качество, а не количество. В случае расторжения трудового договора с сотрудником до окончания испытательного срока мы бесплатно предложим вам кандидатуру другого специалиста
              +e.text По вопросам согласования вакансий и подбора кандидатов на сайте обращайтесь по телефону
                |
                |
                a(href="tel:+78001000011") 8 800 100‒00‒11 (доб. 2059)
                |
                | или по адресу
                |
                |
                a(href="mailto:career@synergy.ru") career@synergy.ru

    +b.SECTION.s-vacancies.section
      .wrapper
        h2.section__title Вакансии
        .section__introtext
          p Если вы ищете работу в крупной компании с интересными проектами, возможностью развиваться и строить карьеру, достойной заработной платой и множеством привилегий для сотрудников — приглашаем вас стать частью большой и дружной команды Университета «Синергия». Здесь всегда можно проявить себя и внести личный вклад в развитие глобальных идей
        +e.list
          +vacancy-card({
            label: "Продажи",
            title: "Менеджер по продажам услуг",
            sum: "от 80 000"
          })
          +vacancy-card({
            label: "Продажи",
            title: "Менеджер по работе с клиентами (прямые продажи)",
            sum: "от 90 000"
          })
          +vacancy-card({
            label: "Продажи",
            title: "Менеджер по работе с клиентами (прямые продажи)",
            sum: "от 90 000"
          })
          +vacancy-card({
            label: "Продажи",
            title: "Руководитель отдела продаж",
            sum: "до 110 000"
          })
          +vacancy-card({
            label: "Продажи",
            title: "Менеджер по продажам услуг",
            sum: "от 80 000"
          })
          +vacancy-card({
            label: "Продажи",
            title: "Менеджер по продажам услуг",
            sum: "от 80 000"
          })
        +e.more
          +e.BUTTON.button(type="button")
            span
            | Все вакансии

    +b.SECTION.s-partners.section
      .wrapper
        .section__content
          h2.section__title Наши партнёры
